.App {
  text-align: center;
}

.App-header {
  background-color: #05a0d1;
  padding: 20px;
  color: #fafafa;
}

main {
  padding: 20px;
}

.language-selector {
  margin-bottom: 20px;
}

select {
  margin-left: 10px;
  padding: 5px;
}

textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: monospace;
}
